/* team boxes */

.team-box-1 {
    border: 5px solid #8cb736;
    border-top: 2px solid #8cb736;
    border-bottom: 2px solid #8cb736;
}

.team-box-2 {
    border: 1px solid #ffffff;
}

.triangle-wrapper {
    background: #8cb736;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 15px solid #000;
    border-right: 15px solid transparent;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 15px solid #000;
    border-left: 15px solid transparent;
}

.team-box-3 {
    background: #8cb736;
    border: 2px solid #ffffff;
}