@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&display=swap');

/*****************
 * ROOT ELEMENTS *
 *****************/
:root {
    /* colors */
    --clr-black-high: #1C1421D9;
    --clr-black-low: #434143;
    --clr-black-matte: #402e32;
    --clr-white-high: #ffffff;
    --clr-white-low: #dfe0df;
    --clr-brown: #5b4217;
    --clr-cadet-blue: #ADBAC3;
    --clr-ink-blue: #006b60;
    --clr-yellow: #e4a101;

    /* fonts family*/
    --font-family: 'Inter', Sans-serif;

    /* page margins */
    --page-margin-top: 50px;
    --page-margin-bottom: 50px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*****************
 * | ROOT ELEMENTS *
 *****************/

.body1 {
    font-family: var(--font-family);
    background-image: url(image.jpg);
    background-size: cover;
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding: 0px 0px;
    margin: 0;
}

.header {
    opacity: 0.9;
    background-color: var(--clr-black-high);
    color: var(--clr-white-high);
}

.navbar {
    padding: 15px 0px 10px 54px;
    list-style: none;
    position: sticky !important;

}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--clr-black-high);
    background-color: var(--clr-yellow);
    border-radius: 5px;
}

.item1 {
    margin-left: 7rem;
    color: var(--clr-white-high);
}

.item2 {
    margin-left: 5rem;
    color: var(--clr-white-high);

}

.item3 {
    margin-left: 25rem;
}


.row1 {
    margin: 0 15px;
    justify-content: center;
}

.col1 {
    margin-top: 8rem;
}

.head1 {
    font-size: 60px;
    color: var(--clr-white-high);
    font-weight: bolder;
    text-align: center;
}

.para1 {
    padding-top: 12px;
    padding-bottom: 15px;
    color: var(--clr-white-high);
    text-align: center;
}

.tournaments {
    color: var(--clr-yellow);
    font-weight: bold;
}

.row2 {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col2 {
    text-align: center;
}

.edit-btn {
    color: var(--clr-black-high);
    background-color: var(--clr-yellow);
    border: none;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
}


.edit-btn:hover {
    color: var(--clr-white-high);
}

.head5 {
    font-weight: bold;
}


.row3 {
    margin-top: var(--page-margin-top);
    margin-bottom: var(--page-margin-bottom);
    justify-content: center;
}

.card1 {
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid rgba(39, 38, 38, 0.089);
    background-color: var(--clr-black-low) !important;
}

.card1:hover {
    box-shadow: 1px 0px 4px 0.5px rgba(128, 128, 128, 0.247);
    cursor: pointer;
}

.cardpara {
    color: var(--clr-yellow);
    margin: 0 0 3px;
    padding-top: 5px;
    font-size: 13px;
}

.opacity1:hover {
    position: relative;
    background-color: var(--clr-yellow);
    color: white;
    text-align: center;
    height: 250px;
    width: 100%;
    transition: 0.9s ease;
}


.img123 {
    position: absolute;
    background-image: url(masked.jpg);
    height: 250px !important;
    z-index: 9;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.img123:hover {
    background-color: var(--clr-yellow);
    background-image: url('');
}

.img456 {
    height: 250px;
    width: 100%;
    z-index: 1;
}

.button2 {
    margin-top: 25%;
    color: black;
    background-color: var(--clr-white-low);
}

.button2:hover {
    transition: 0.4s ease;
    color: var(--clr-black-high);
    background-color: var(--clr-white-high);
}

/* navigation bar position */
.header {
    opacity: 0.9;
    background-color: var(--clr-black-high);
    color: var(--clr-white-high);
    position: fixed;
    z-index: 111;
    width: 100%;
}

/* slider image */
.body-tournament {
    font-family: var(--font-family);
    background-image: url();
    background-size: cover;
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* padding top for layout */
.padding-top {
    padding-top: 100px;
}



/* for card */

.clear-fix:after {
    display: block;
    clear: both;
    content: &#39;
   &#39;
   ;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.card__collection {
    position: relative;
    display: block;
    padding: 10px;
    font-family: &#39;
   Do Hyeon&#39;
   , sans-serif;
    overflow: hidden;
}
.card__collection .cards {
    width: 300px;
    height: 400px;
    display: block;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
}
.card__collection .cards--one {
    backface-visiblility: hidden;
}
.card__collection .cards--one:hover:after {
    bottom: -20px;
}
.card__collection .cards--one:hover:before {
    bottom: -10px;
}
.card__collection .cards--one:hover .cards--one__rect {
    left: 45%;
}
.card__collection .cards--one:hover .cards--one__rect--back {
    left: 50%;
}
.card__collection .cards--one::after {
    content: &#39;
   &#39;
   ;
    display: block;
    position: absolute;
    height: 70px;
    transform: rotate(-3deg);
    background: #e660e3;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: -10px;
    z-index: 9;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}
.card__collection .cards--one:before {
    content: &#39;
   &#39;
   ;
    display: block;
    position: absolute;
    height: 80px;
    transform: rotate(-3deg);
    bottom: -90px;
    left: 0;
    background: #fff;
    right: -10px;
    z-index: 5;
    transition: all 0.2s ease-in;
    transition-delay: 0.1s;
}
.card__collection .cards--one__rect {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background: #0f9bc0;
    width: 126px;
    height: 55px;
    transform: skewY(5deg);
    position: absolute;
    display: block;
    top: 60%;
    left: -45%;
    z-index: 1;
    line-height: 3.3rem;
    text-align: center;
    transition: all 0.2s ease-in;
}
.card__collection .cards--one__rect--back {
    display: block;
    background: rgba(34, 65, 154, .8);
    width: 126px;
    height: 55px;
    transform: skewY(7deg);
    position: absolute;
    top: 65%;
    left: -50%;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}
.card__collection .cards--one__rect p {
    transform: skewY(-7deg);
    position: relative;
}
.card__collection .cards--two {
    position: relative;
    backface-visibility: hidden;
}
.card__collection .cards--two p {
    position: absolute;
    top: 83%;
    left: -100%;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
    left: 8%;
}
.card__collection .cards--two:hover img {
    transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
    top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
    transform: translateY(15px);
}
.card__collection .cards--two:hover li {
    transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
    right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
    right: -312px;
}
.card__collection .cards--two img {
    transition: all 0.2s ease;
}
.card__collection .cards--two__tri {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #fff;
    opacity: 0.9;
    position: absolute;
    display: block;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #57ccfd;
    position: absolute;
    content: &#39;
   &#39;
   ;
    display: block;
    top: -220px;
    right: -612px;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
    width: 750px;
    height: 200px;
    background: #fff;
    display: block;
    position: absolute;
    top: 175%;
    left: -78%;
    transform: rotate(30deg);
    z-index: 5;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
    content: &#39;
   &#39;
   ;
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    background: #f07306;
    transform: translateY(200px);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
}
.card__collection .cards--two ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 9;
}
.card__collection .cards--two ul li {
    display: inline-block;
    font-size: 16px;
    margin: 7px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
    transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
    transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
    transition-delay: 0.4s;
}
.card__collection .cards--three {
    position: relative;
    z-index: 10;
}
.card__collection .cards--three:hover .cards--three__rect-1 {
    left: 10%;
}
.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
    left: -20%;
}
.card__collection .cards--three:hover .cards--three__rect-2 {
    left: 60%;
}
.card__collection .cards--three:hover .cards--three__rect-2:before {
    left: -100%;
}
.card__collection .cards--three:hover .cards--three__rect-2:after {
    left: 80%;
}
.card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
    left: -10%;
}
.card__collection .cards--three:hover .cards--three__circle {
    transform: scale(1);
}
.card__collection .cards--three:hover .cards--three__circle:before {
    transform: scale(0.9);
}
.card__collection .cards--three:hover .cards--three__list li {
    transform: translateX(0);
}
.card__collection .cards--three__rect-1 {
    background: #fff;
    width: 200px;
    height: 110px;
    transform: skewX(-20deg);
    display: block;
    position: absolute;
    top: 73%;
    opacity: 0.9;
    left: -100%;
    z-index: 8;
    transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-1 p {
    font-size: 20px;
    color: #fff;
    transform: skewX(20deg);
    line-height: 6rem;
}
.card__collection .cards--three__rect-1 .shadow-1 {
    background: #9b1308;
    width: 230px;
    height: 100px;
    display: block;
    position: absolute;
    left: -200%;
    z-index: -1;
    transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2 {
    width: 100px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 65%;
    left: 1000%;
    opacity: 0.9;
    transform: skewX(-20deg);
    z-index: 8;
    transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-2::before {
    content: &#39;
   &#39;
   ;
    display: block;
    width: 50px;
    height: 40px;
    background: #57ccfd;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 10%;
    transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2::after {
    content: &#39;
   &#39;
   ;
    display: block;
    width: 50px;
    height: 40px;
    background: #9b1308;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 114%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}
.card__collection .cards--three__rect-2 .shadow-2 {
    background: #57ccfd;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -10%;
    left: 500%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}
.card__collection .cards--three__circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15%;
    left: 50%;
    opacity: 0.9;
    transform: scale(0);
    transition: all 0.3s ease;
}
.card__collection .cards--three__circle:before {
    content: &#39;
   &#39;
   ;
    display: block;
    width: 100%;
    height: 100%;
    background: #9b1308;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.bg-transparent {
    background: 00000000 !important;    
}