body {
    background-color: #282828;
}

.container {
    padding-top: 50px;
}

.container1 {
    background-image: linear-gradient( #8cb736, #4d7810);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.527);
    height: 306px;
}

.rank1 {
    font-size: 60px;
    font-weight: bold;
    color: #151722;
    margin: 0px 0px 0px;
}

.img1st {
    height: 235px;
    margin-left: 25%;
    margin-top: -83px;
}

.teamname {
    background-color: #151722;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4d7810;
    margin-left: -12px;
    margin-right: -12px;
    border-top: 1px solid rgba(255, 255, 255, 0.527);
}

.colrank2 {
    text-align: center;
}

.row2nd {
    justify-content: space-evenly;
    border-bottom: 5px solid #282828;
    position: relative;
    z-index: 1;
}

.logoimg {
    position: absolute;
    z-index: 9;
    height: 105px;
    width: 120px!important;
    left: 45px;
    bottom: 5px;
}

.colrank21 {
    background-image: linear-gradient( #8cb736, #4d7810);
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}

.colrank22 {
    background-color: #151722;
    color: #4d7810;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    padding-right: 2rem;
    height: 50px;
}

.colrank23 {
    background-image: linear-gradient( #8cb736, #4d7810);
    font-size: 20px;
    text-align: center;
}

.span3 {
    color: white;
}

.span2 {
    padding-left: 7rem;
}

.numpoints {
    font-size: 25px;
    font-weight: bold;
}

.rowpoints {
    margin-top: -140px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.rowfooter {
    margin-top: -70px;
    background-image: linear-gradient(to right, #8cb736, #2828287e);
    border: 1px solid rgba(255, 255, 255, 0.527);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}